body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: fantasy;
    font-size: 30px;
}


h1 {
    text-align: center;
    font-family: 'Arial Black', Arial, sans-serif;
    color: #080808;
    border: 1px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

h2 {
    text-align: left;
    font-family: 'times new roman', Times, serif;
    color: rgb(0, 0, 0);

}

#tabelaDeIMC {
    margin: auto;
    border: 5px solid #000;
    
    width: 50%;
    font-family: fantasy;
    color: black;
    box-shadow: 0 0 10px rgb(3, 3, 3);
    background-color: rgb(128, 128, 128);
    font-weight: 1px;



}

#tabelaDeIMC th, #tabelaDeIMC td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    border-color: rgb(250, 235, 215);
}

.tituloTabela {
    background-color: #4CAF50;
    color: black ;
    font-family: fantasy;
    font-size: 25px;
}
#paragrafoInicial {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #555;
    margin: 20px;
    text-align: justify;
    padding: 4px;
    white-space: 5px;
    margin-bottom: 20px;
}
#paragrafoInicialPt2 {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #555;
    margin: 20px;
    text-align: justify;
    padding: 4px;
    white-space: 5px;
    margin-bottom: 20px;
}

form {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
}

h3 {
    text-align: center;
    font-family: "arial";
    color: black;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
    border: 5px solid black;
    padding: 5px;
    border-radius: 50px;
    border-style: double;
    
   
}