* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-color: rgba(0, 0, 0, 0.808);
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* CARD PRINCIPAL */
.card {
    background-color: #D4AF37;
    max-width: 1200px;
    margin: 60px auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.15),
        0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-20px);
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

/* CONTEÚDO */
#conteudoEscrito {
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    text-align: justify;
}

/* TEXTOS */
p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

/* FÓRMULA */
#formula {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 30px auto;
    padding: 15px;
    width: fit-content;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* TÍTULOS */
h2 {
    margin: 30px 0 15px;
}

h3 {
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    border: 3px double black;
    border-radius: 40px;
}

/* TABELA */
#tabelaDeIMC {
    margin: 30px auto;
    border-collapse: collapse;
    width: 60%;
    background-color: #bbb;
}

#tabelaDeIMC th,
#tabelaDeIMC td {
    border: 1px solid antiquewhite;
    padding: 12px;
    text-align: center;
}

.tituloTabela {
    background-color: #fa7952;
    font-size: 20px;
}

/* FORMULÁRIO */
form {
    margin: 40px auto;
    width: 320px;
    padding: 25px;
    border-radius: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

/* MENSAGEM DE ERRO */
#mensagemErro {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color: rgb(0, 0, 0);

    text-align: center;
    font-size: 15px;
    text-shadow: 1px 0px 0px black;
    opacity: 100%;
}
#caixaDeErro {
    background-color:rgb(126, 43, 43);
    opacity: 90%;
    border: 2px solid #f5c6cb;
    padding: 15px;
    border-radius: 10px;
    margin-right: 300px;
    margin-top: 10px;
    margin-left: 300px;
}